work/.directory
work/diplom.aux
work/diplom.bbl
work/diplom.bcf
work/diplom.blg
work/diplom.log
work/diplom.out
work/diplom.run.xml
work/diplom.synctex.gz
work/diplom.toc
work/docs.aux
work/docs.log
work/docs.md
work/docs.pdf
work/docs.synctex.gz
work/docs.tex
